.about{
    .row-flex();
    margin-bottom: -5px;
    
    &__media{
        position: relative;
        // display: flex;
        .size(6);
        .size-sm(12);
        .page__img,
        .page__video video{
            width: 100%;
            height: 100%;
        }
        .page_bg-opacity-grayDark{
            // .size(6);
            width: 0;
            position: absolute;
            top: -5px;
            left: 0;
            height: 100%;
            opacity: 0.4;
            transition: all 1s ease-out;
        }
        .page__video{
            position: relative;
            height: 100%;
            // align-self: center;
            .vimeo-player{
                width: 100%;
                height: 100%;
            }
            .page__btn_play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
            }
        }
    }
    &__content{
        .size(6);
        .size-sm(12);
        display: flex;
        align-items: center;
        order: 0;
        // justify-content: center;
        &_end{
            justify-content: flex-end;
            .sm(order, 1);
            .about__content-text{
                .size(7.5);
                .size-md(12);
                padding: 3% 9% 0% 0%;
                .md(  padding, 5% );
            }
        }
        .page__subtitle{
            .size(9);
            padding: 5% 0px;
        }
        &-text{
            color: @color_grayDark3;
            padding: 0 24% 0% 14%;
            box-sizing: border-box;
            .sm(padding, 5%);
        }
        .page__text{
            color: @color_grayDark3;
            font-size: 1.3vw;
            .sm(font-size, 1.3vw * 2);
            .xs(font-size, 1.3vw * 4);
            line-height: 135%;
            margin-bottom: 4%;
        }
        .page__btn{
            .md-block({
                height: 4.394737vh;
            });
            .xs-block({
                width: 100%;
                font-size:1.8vw *3;
                height: 9.394737vh;
            });
        }
    }
    &.animated{
        .from(@break_md, {
            .page_bg-opacity-grayDark{
                .size(5.8);
            }
            .about__content-text{
                .page__text{
                    .animated({
                        .fadeInRight();
                    },2s);
                }
               
            }
            .about__content_end{
                .about__content-text{
                    .animated({
                        .fadeInLeft();
                        .delay(0.5s);
                    },2s);
                }
            }
        });
        
    }
}