.page{
    &__title{
        &-h1{
            font-family:'@{Roboto}-Black';
            font-style: normal;
            font-weight: 900;
            font-size: 3.4vw;
            line-height: 121.18%;
            letter-spacing: -0.025em;

            color: @color_white;
            .md-block({
                font-size: 3.4vw * 2;
            });
            .xs-block({
                font-size: 3.4vw * 3;
            });
        }
        &-h2{
            font-family: @fontBold;
            font-weight: bold;
            font-size: 4.4vw;
            .md-block({
                font-size: 4.4vw * 1.5;
            });
            line-height: 121.18%;
           
            
            letter-spacing: -0.025em;
            text-transform: uppercase;
        }
        &-h3{
            font-family:'@{Roboto}-Black';
            font-weight: bold;
            letter-spacing: -0.005em;
            font-weight: 900;
            font-size: 2.3vw;
            .sm-block({
                font-size: 2.3vw * 1.5;
            });
            .xs-block({
                font-size: 2.3vw * 3;
            });
            line-height: 121.18%;

            letter-spacing: -0.025em;
        }
        &-h4{
            font-family: @fontBold;
            font-weight: bold;
            font-size: .95vw;
            line-height: 148.9%;
            letter-spacing: -0.01em;

        }


    }
    &__subtitle{
        font-family:'@{Roboto}-Regular';
        font-weight: 100;
        font-size: 1.6vw;
        .sm-block({
            font-size: 1.6vw * 1.5;
        });
        .xs-block({
            font-size: 1.6vw * 3;
        });
        line-height: 148.9%;

        letter-spacing: -0.01em;

        color: @color_grayDark3;
    }
    &__text{
        font-family: @fontRegular;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        line-height: 148.9%; // 27px
        color: @color_white;

        
    }
    &__link{
        font-weight: normal;
        font-size: 0.9vw;
        .xs(font-size, 0.9vw * 4);
        display: flex;
        align-items: center;
        // font-size: 16px;
        line-height: 121.18%;
        /* or 19px */
        color: @color_lightGreen;
        letter-spacing: -0.005em;
        &_arrow{
            &-green,
            &-gray{
                &::after{
                    content: '';
                    display: inline-block;
                    vertical-align: bottom;
                    margin-left: 12px;
                }
            }
            &-green{
                &::after{
                    .sprite(@icon-arrow-green);
                }
            }
        }
        &:hover{
            text-decoration: underline;
          }
        &_phone,
        &_fax{
            &::before{
                content: '';
                display: inline-block;
                left:0;
                margin-right: 9px;
            }
        }
    }
    &__btn{
        border: none;
        width: 13.820313vw;
        // height: 79px;
        height: 7.394737vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @color_white;
        background:@color_grayDark;
        border: 2px solid @color_grayDark;
        font-weight: bold;
        // font-size: 24px;
        font-size: 1.2vw;
        .md(font-size, 1.8vw);
        line-height: 148.9%;
        transition: all .5s ease-out;
        
        &:active{
            background-color:@color_grayDark3;
        }
        &:hover{
            color: @color_grayDark;
            background:transparent;
        }
        &_play{
            border: none;
            .size-xs(12);
        }
    }
    &__icon{
        &_arrow{
            &-white{
                // .sprite(@icon-arrow-white);
            }
        }
        &_tw{
            // .sprite(@icon-twitter);
        }
        &_fb{
            // .sprite(@icon-facebook);
        }
        &_youtube{
            .sprite(@icon-youtube);
        }
        &_in{
            .sprite(@icon-linkedin);
        }
        &_play{
            .sprite(@icon-play);
        }
    }
    &_bold {
        font-weight: bold;
        font-family: @fontBold;
    }
    &_bg{
        &-opacity{
            &-grayDark{
                background-color: @color_grayDark;
            }
            &-lightBlue{
                background-color: @color_lightBlue;
            }
        }
    }
    &_address{
        &::before{
            content: '';
            // .sprite(@icon-placeholder);
            min-width: 20px;
            margin-right: 9px;
        }
    }
    &_hidden{
        display: none !important; 
    }
}