.projects{
    position: relative;
    z-index: 10;
    &-items{
        .row-flex();
        position: relative;
        &__item{
            cursor: pointer;
            position: relative;
            overflow: hidden;
            .size(3);
            .size-sm(6);
            .size-xs(12);
            &:nth-child(2){
                .sm-block({
                    order: 1;
                });
            }
            &:nth-child(3){
                .size(5.2);
                .size-sm(6);
                .size-xs(12);
                .sm-block({
                    order: 3;
                });
                .xs-block({
                    order: 2;
                });
                .page__img-bg{
                    img{
                        transform: scale(1.05);
                    }
                }
                .projects-items__item{
                    &-content{
                        padding: 7% 15%;
                        .sm-block({
                            padding: 7%;
                        });
                    }
                  
                }
            }
            &:nth-child(4){
                .size(6);
                .size-xs(12);
                .sm-block({
                    order: 4;
                    display: flex;
                });
                .xs-block({
                    order: 3;
                });
                .page__img-bg{
                    img{
                        transform: scale(1.05);
                    }
                }
                .projects-items__item{
                    &-content{
                        padding: 9% 24%;
                        .sm-block({
                            padding: 7%;
                        });
                    }
                  
                }
            }
            &:hover{
                .page__img{
                    img{
                        transform: scale(1.2);
                    }
                }
                .page__title-h3,
                .page__link{
                    transform: translateY(0);
                }
                .page__link{
                    opacity: 1;
                }
            }
            .page__img{
             
                &-bg{
                    position: relative;
                    display: flex;
                    img{
                        height: 100%;
                        width: 100%;
                        transition: all 0.5s ease-out;
                        object-fit: cover;

                    }
                }
            }
            
            &-main{
              
                .projects-items__item-content{
                    flex-direction: row;
                    align-items: center;
                    .page__title-h3,
                    .page__text{
                        color: @color_blueDark;
                    }
                    .page__title-h3{
                        .size(7.8);
                        .size-xs(12);
                        font-family:  '@{OpenSans}-Bold';
                        font-weight: 600;
                        font-size: 3.3vw;
                        .xs(font-size, 3.3vw*2);
                        line-height: 100%;
                        letter-spacing: -0.025em;
                        margin-bottom: 7px;
                        text-transform: capitalize;
                        .xs-block({
                            text-align: center;
                        });
                    }
                }
                &:first-child{
                    .size(3.8);
                    .size-sm(12);
                    .sm-block({
                        height: 15vh;
                        padding: 0%;
                     
                            order: 0;
                      
                    });
                    .projects-items__item-content{
                        .page__title-h3{
                            transform: translateY(0);
                        }
                    }
                  
                }
                &:last-child{
                    background-color: @color_grayDark;
                    .size(6);
                    .size-xs(12);
                    .sm-block({
                        order: 2;
                    });
                    .xs-block({
                        order: 4;
                        height: 25vh;
                    });
                    .projects-items__item-content{
                        padding: 13% 0 13% 13%;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        .sm-block({
                            align-items: center;
                        });
                        .xs-block({
                            padding: 0;
                            justify-content: center;

                        });
                        .page__title-h3{
                            .size(12);
                            text-transform: inherit;
                            font-family: @fontRegular;
                            // font-size: 42px;
                            line-height: 121.18%;
                            letter-spacing: 1.5px;
                            font-weight: bold;
                            // font-size: 42px;
                            font-size: 2.2vw;
                            .xs(font-size, 2.2vw * 2.5);
                            line-height: 121.18%;
                            
                            
                        }
                        .page__title-h3,
                        .page__link{
                            opacity: 1;
                            color: @color_white;
                            transform: translateY(0px);
                        }
                        .page__links{
                            display: flex;
                            .xs-block({
                                justify-content: center;
                            });
                            .page__link{
                                margin-right: 40%;
                                transform: scale(0.8);
                                .xs-block({
                                    margin-right:0;
                                });
                                &:hover{
                                    transform:scale(1);
                                }
                            }
                        }
                    }
                }
                .projects-items__item-content{
                    padding: 16% 11%;
                    .sm-block({
                        padding: 0%;
                    });
                }
                
            }
            &-content{
                position: absolute;
                bottom: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                // padding: 75px 60px;
                padding: 12% 10%;
                box-sizing: border-box;
                .page__title-h3{
                    font-family: @fontRegular;
                    color: @color_white;
                    margin-bottom: 16px;
                    font-size: 2.1vw;
                    .xs(font-size, 2.1vw * 4);
                    transform: translateY(60px);
                    transition: all 0.5s ease-out;
                }
                .page__link{
                    display: flex;
                    opacity: 0;
                    align-items: center;
                    transform: translateY(500px);
                    transition: all 0.5s ease-out;
                }
               
            }
        }
    }
    &.animated{
        .from(@break_md, {
            .projects-items__item{
                .animated({
                    .fadeIn();
                    .delay(0.5s);
                });
            }
        });
        
    }
}