section.about.isAnimate
    .about__media
        .page_bg-opacity-grayDark
        img.page__img(src="assets/img/img-about-1.png", alt="")
    .about__content
        .about__content-text
            .page__text I made my first 1 cent online back in 1998 - since then, I've employed 170+ software engineers and managed more than 20 projects - I've raised more than $750k for my start-up JobMap in a pre-seed round. 
            .page__text Watch my journey towards a Billion Dollars as I share my knowledge and hidden startup experiences with the world.
    .about__content.about__content_end
        .about__content-text
            h3.page__title-h3 Follow me <br> on YouTube & LinkedIn:
            p.page__subtitle My personal jorney to 
                span.page_bold One Billion Dollars
            button.page__btn Watch
    .about__media
        .page__video
            video(src="" poster="assets/img/img-about-video-prev.png")
            button.page__btn.page__btn_play
                .page__icon_play
            
            